.popup__save-button {
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2px;
  margin: 18px 36px 37px;
  padding: 0;
  width: calc(100% - 72px);
  height: 50px;
  transition: background-color .4s linear;
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
}

@media screen and (max-width:550px) {
  .popup__save-button {
    margin: 45px 22px 25px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    width: calc(100% - 44px);
  }
}