.profile__avatar-edit-button {
  background-color: rgba(0,0,0,0);
  background-size: 26px, 26px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  transition: background-color .3s linear;
}

.profile__avatar-edit-button:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.8);
  background-image: url('../../../images/avatar_pencil.svg');
}