.profile__status {
  margin: 9px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width:720px) {
  .profile__status {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}